 .App {
     text-align: center;
     max-width: 100%;
     min-height: 100vh;
     padding-top: 3rem;
     position: relative;
 }
 
 @media (max-height: 480px) {
     .App {
         padding-top: 1rem;
     }
 }
 
 .App_0 {
     background: var(--background_0);
     color: var(--color_0);
     font-family: var(--font_0);
 }
 
 .App_1 {
     background: var(--background_1);
     color: var(--color_1);
     font-family: var(--font_1);
 }
 
 .App_2 {
     background: var(--background_2);
     color: var(--color_2);
     font-family: var(--font_2);
 }
 
 .App_3 {
     background: var(--background_3);
     color: var(--color_3);
     font-family: var(--font_3);
 }
 
 .container {
     width: 600px;
     max-width: 100%;
     margin: auto;
 }